@tailwind base;
@tailwind components;
@tailwind utilities;



/* Utility Gradient Text */
.gradient-text {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(135deg, #0EA5E9 0%, #3B82F6 100%);
}

.gradient-bg {
    background: linear-gradient(135deg, #0EA5E9 0%, #3B82F6 100%);
}

/* Tambahkan ini di paling atas */
html, body {
    height: 100%;
    overflow: hidden;
    /* Mencegah scroll pada window browser */
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.water-drop {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* Utility Text Gradient */
.gradient-text {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(135deg, #0EA5E9 0%, #3B82F6 100%);
}

/* Utility Background Gradient */
.gradient-bg {
    background: linear-gradient(135deg, #0EA5E9 0%, #3B82F6 100%);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    border-radius: 20px;
}